body {
  margin: 10px;
}

/* p {
  color: orange;
} */

/* this can refer to the "a" element that has target in it we can further specify to 
by equating target to "_blank" */
/* a[target] {
  color: brown;
} */

/* a[href="https://google.com"]
{
  color: black;
} */

/* a[href^="https"][href$=".com"] {
  color: blue;
} */

article :last-child {
  font-style: italic;
  font-weight: bold;
}

ul li:nth-child(odd) {
  color: deeppink;
}

a:visited,
a:link {
  color: darkgreen;
}

a:hover,
a:focus {
  color: deeppink;
  font-weight: bold;
}

span.firstletter {
  font-weight: bold;
}

::first-line {
  font-weight: bold;
}
::selection {
  background-color: lightcoral;
}

p::before {
  content: "latin language:";
}
