.container {
  display: grid;
  grid-template: repeat(3, 100px) / 100px 70fr;
  border: 3px solid lightgrey;
  grid-template-areas:
    "Header Header"
    "sideBar Main"
    /* "Footer Footer"; */
    ".       Footer";

  /* these two values are set default */
  /* justify-items: stretch;
  align-items: stretch; */
  gap: 10px;
  height: 100vh;
}

.box {
  /* height: 5rem; */
  /* width: 5rem; */
  background-color: gold;
}

.box-one {
  grid-area: Header;
}

.box-four {
  grid-area: Footer;
}
