body {
  margin: 10px;

  /* acc to viewport */
  height: 200vh;
}

.boxes {
  border: 3px solid grey;
  position: relative;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box1 {
  background-color: aqua;
}
.box2 {
  background-color: tomato;
  /* position: absolute; */
  /*   
  right: 0;
  bottom: 0;
  z-index: 1; */

  /* Relative to the viewport(vh) */
  position: fixed;
  top: 0;
}
.box3 {
  background-color: orange;
}
