*,
*::after,
*::before body {
  box-sizing: border-box;
}

.box::before {
  content: "hello";
}

body {
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block;
}
