body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 150px;
  height: 100%;
  background-color: gold;
}
.container {
  display: flex;
  flex-direction: column;
  perspective: (200px);
}

.container:hover .box {
  transform: rotateY(45deg);
  transform-origin: 0 50%;
}
