body {
  margin: 0;
  padding: 0;
  background-image: url(../Project\ Images/body_bg.png);
  font-family: "Flexo-Regular", arial, sans-serif;
}
.mainBody {
  padding: 2rem 12rem;
  margin: 0 8rem;
  height: 100%;
  width: fit-content;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.navPrimary {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 2px solid #dedede;
  /* padding-bottom: 2px; */
  width: 100%;
}
.logo {
  margin: 6px 0 0 0;
  border-right: 2px solid #dedede;
  padding-right: 10px;
  padding-left: 10px;
}

.logo:hover,
.banner:hover,
.secondaryItems:hover {
  cursor: pointer;
}

.banner {
  margin: 6px 0px 0 0;
}

.mainlogo {
  border-left: 2px solid #dedede;
  padding-left: 10px;
  box-shadow: 0 0 30px #919090;
}

.specialIcon {
  transition: 0.2s;
}

.specialIcon:hover {
  transform: translateY(4px);
}

.navSecondary {
  display: flex;
  padding-top: 5px;
}

.icon {
  height: 40px;
}

.secondaryItems {
  width: 8rem;
  height: 6rem;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}
.color {
  background-color: #919191;
  border-bottom-left-radius: 6px;
  border-bottom: 7px solid #919191;
}
.paragraph {
  margin: 0px;
}

.main {
  color: white;
}

.Pokedex {
  border-bottom: 7px solid #e3350d;
  color: #6d7e91;
}

.Games {
  border-bottom: 7px solid #ee6b2f;
  color: #8d7168;
}

.cards {
  border-bottom: 7px solid #e6bc2f;
  color: #8d7168;
}

.animation {
  border-bottom: 7px solid #4dad5b;
  color: #8d7168;
}

.play {
  border-bottom: 7px solid #30a7d7;
  color: #8d7168;
}

.news {
  border-bottom: 7px solid #1b53ba;
  border-bottom-right-radius: 6px;
  color: #8d7168;
}

.Pokedex:hover {
  background-color: #e3350d;
  color: white;
}

.Games:hover {
  background-color: #ee6b2f;
  color: white;
}

.cards:hover {
  background-color: #e6bc2f;
  color: white;
}

.animation:hover {
  background-color: #4dad5b;
  color: white;
}

.play:hover {
  background-color: #30a7d7;
  color: white;
}

.news:hover {
  background-color: #1b53ba;
  color: white;
}

/* STICKER */
.sticker {
  height: 8rem;
  width: 3rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  position: fixed;
  top: 28%;
  left: 8.3%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 100%;
  background-color: #4cc25d;
  color: white;
}

.login:hover {
  background-color: #369143;
  cursor: pointer;
}

.loginIcon {
  width: 2rem;
}
.loginText {
  padding: 0;
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #575757;
  height: 35%;
}

.searchIcon {
  width: 30px;
}

.search:hover {
  background-color: #30a7d7;
  cursor: pointer;
}

/* bodyNews */

.image1 {
  height: 22rem;
  width: 35rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image1:hover {
  cursor: pointer;
}

.content1 {
  background-color: #2497cd;
  height: 8rem;
  width: 35rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content1:hover {
  background-color: #1b82b1;
  cursor: pointer;
}

.heading1 {
  color: white;
  font-style: inherit;
  margin: 15px;
  font-size: 28px;
}

.text1 {
  color: rgb(65, 61, 61);
  font-style: inherit;
  margin: 15px;
  font-size: 15px;
}

.temporalForces {
  display: flex;
  flex-direction: column;
  height: 120rem;
  transition: 0.4s;
  margin-top: 10px;
}

.temporalForces:hover {
  transform: translateY(4px);
}

.image2 {
  height: 10rem;
  width: 18.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.decks:hover {
  transform: translateY(4px);
  cursor: pointer;
}

.content2 {
  height: 8rem;
  width: 18.5rem;
  background-color: #1847d7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.heading2 {
  color: white;
  font-style: inherit;
  margin: 15px;
  font-size: 25px;
}

.decks {
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  margin-top: 10px;
}
.bodyNews {
  display: flex;
  gap: 15px;
}

.image3 {
  height: 11rem;
  width: 18.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content3 {
  height: 5.5rem;
  width: 18.5rem;
  background-color: #895ad5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content3:hover {
  background-color: #54318c;
}

.heading3 {
  color: white;
  font-style: inherit;
  margin: 15px;
  font-size: 25px;
}
.scarlet-violet {
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.scarlet-violet:hover {
  transform: translateY(4px);
  cursor: pointer;
}

.liko {
  display: flex;
  flex-direction: row;
  transition: 0.4s;
}
.liko:hover {
  transform: translateY(4px);
  cursor: pointer;
}
.image4 {
  height: 11rem;
  width: 8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content4 {
  background-color: #44b655;
  width: 10.5rem;
  height: 11rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content4:hover {
  background-color: #369143;
}

.heading4 {
  margin: 15px;
  font-size: 25px;
  color: white;
}

.mainDiv1 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 18px;
}

.ogerpon-ex {
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.ogerpon-ex:hover {
  transform: translateY(4px);
  cursor: pointer;
}
.gif {
  height: 10rem;
  width: 17rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content5 {
  background-color: #282828;
  width: 17rem;
  height: 6.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.heading5 {
  margin: 15px;
  font-size: 23px;
  color: white;
}

.rules {
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.rules:hover {
  cursor: pointer;
  transform: translateY(4px);
}

.imgr {
  height: 10rem;
  width: 17rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content6 {
  background-color: #a9a5a5;
  width: 17rem;
  height: 6.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content6:hover {
  background-color: #8b8b8b;
}

.heading6 {
  margin: 15px;
  font-size: 23px;
  color: rgb(59, 56, 56);
}
